.App{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  padding-left: 45%;
  display: flex;
  color: rgb(251, 201, 201);
  
}
ul{
  display: flex;
}
li{
  padding-right: 1em;
  list-style: none;
}
.Header{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  background-color: rgb(95, 94, 94);
}
